.footer {
  width: 100%;
  height: 150px;
  background-color: #102048;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.socialMedia svg {
  color: white;
  margin: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.footer p {
  color: white;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .footer {
    justify-content: center;
    align-items: center;

    height: fit-content;
    width: 100%;
  }
}
