/* // import styled from "styled-components";

// export const PortfolioContainer = styled.div`
//   height: 800px;
//   display: flex;
//   margin: 0 20px;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   background: #14213d;
//   @media screen and (max-width: 900px) {
//     height: 900px;
//     width: 53%;
//   }
//   @media screen and (max-width: 480px) {
//     height: 2800px;
//     text-align: center;
//   }
// `;

// export const ServicesWrapper = styled.div`
//   max-width: 1000px;
//   margin: 0 auto;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   align-items: center;
//   grid-gap: 40px;

//   @media screen and (max-width: 1000px) {
//     grid-template-columns: 1fr 1fr;
//   }
//   @media screen and (max-width: 768px) {
//     grid-template-columns: 1fr 1fr;
//     margin-top: 100px;
//   }
// `;

// export const ServicesCard = styled.div`
//   background: #132347;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: center;
//   border-radius: 10px;
//   max-height: 500px;
//   padding: 30px;
//   box-shadow: 0 1px 3pxc rgba(0, 0, 0, 0.2);
//   transition: all 0.2s ease-in-out;

//   &:hover {
//     transform: scale(1.02);
//     transition: all 0.2s ease-in-out;
//     cursor: pointer;
//   }
//   @media screen and (max-width: 480px) {
//   }
// `;
// export const ServicesIcon = styled.img`
//   height: 300px;
//   width: 300px;
//   margin-bottom: 10px;
//   @media screen and (max-width: 768px) {
//     height: 100px;
//     width: 100px;
//   }
// `;

// export const ServicesH1 = styled.h1`
//   font-size: 2.5rem;
//   color: #00b4d8;

//   @media screen and (max-width: 480px) {
//     font-size: 2.5rem;
//     text-align: center;
//     margin-left: 200px;
//   }
// `;

// export const ServicesH2 = styled.h2`
//   font-size: 1rem;
//   color: #000;
//   margin-bottom: 10px;
// `;

// export const Servicesp = styled.p`
//   font-size: 1rem;
//   text-align: center;
// `;

/* */

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  z-index: 99999;
  font-size: small;
}
body {
  min-height: 100vh;
  background-color: #fafafa;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5;
  text-align: center;
  padding: 4.5rem 0;
  color: #00b4d8;
  @media screen and (max-widthp: 480px) {
    font-size: 1rem;
  }
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
